/* BASIC STYLES HERE */


body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.quoteStyling {
    height: 1ch;
}

.hide {
    visibility: hidden;
    opacity: 0;
}

.show:hover+.hide {
    visibility: visible;
    opacity: 1;
    transition: ease 1s;
}

.glass {
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(30px);
}

.opaque {
    opacity: .75;
}